/*CUSTOM FONTS*/
@font-face {
    font-family: 'rubiklight';
    src: url('../fonts/rubik/rubik-variablefont_wght-webfont.woff2') format('woff2'), url('../fonts/rubik/rubik-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pt_sansregular';
    src: url('../fonts/ptSans/ptsans-regular-webfont.woff2') format('woff2'), url('../fonts/ptSans/ptsans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nunito_sansblack';
    src: url('../fonts/nSans/nunitosans-black-webfont.woff2') format('woff2'), url('../fonts/nSansnunitosans-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nunito_sansblack_italic';
    src: url('../fonts/nSans/nunitosans-blackitalic-webfont.woff2') format('woff2'), url('../fonts/nSansnunitosans-blackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nunito_sansextrabold';
    src: url('../fonts/nSans/nunitosans-extrabold-webfont.woff2') format('woff2'), url('../fonts/nSansnunitosans-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nunito_sansextrabold_italic';
    src: url('../fonts/nSans/nunitosans-extrabolditalic-webfont.woff2') format('woff2'), url('../fonts/nSansnunitosans-extrabolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntubold';
    src: url('../fonts/ubuntu/ubuntu-bold-webfont.woff2') format('woff2'), url('../fonts/ubuntu/ubuntu-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntubold_italic';
    src: url('../fonts/ubuntu/ubuntu-bolditalic-webfont.woff2') format('woff2'), url('../fonts/ubuntu/ubuntu-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntuitalic';
    src: url('../fonts/ubuntu/ubuntu-italic-webfont.woff2') format('woff2'), url('../fonts/ubuntu/ubuntu-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntulight';
    src: url('../fonts/ubuntu/ubuntu-light-webfont.woff2') format('woff2'), url('../fonts/ubuntu/ubuntu-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntulight_italic';
    src: url('../fonts/ubuntu/ubuntu-lightitalic-webfont.woff2') format('woff2'), url('../fonts/ubuntu/ubuntu-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntumedium';
    src: url('../fonts/ubuntu/ubuntu-medium-webfont.woff2') format('woff2'), url('../fonts/ubuntu/ubuntu-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntumedium_italic';
    src: url('../fonts/ubuntu/ubuntu-mediumitalic-webfont.woff2') format('woff2'), url('../fonts/ubuntu/ubuntu-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubunturegular';
    src: url('../fonts/ubuntu/ubuntu-regular-webfont.woff2') format('woff2'), url('../fonts/ubuntu/ubuntu-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*TAG SPECIFIC CSS*/
body {
    background-color: #cc8df7;
}

h1 {
    font-family: 'rubiklight', sans-serif;
    font-size: 50px;
}

h2 {
    font-family: nunito_sansextrabold, sans-serif;
    font-size: 25px;
}

/*CLASS SPECIFIC CSS*/
.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.pageTitle {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-weight: 900;
}

.coverIMG {
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.coverIMGdesc {
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: pt_sansregular, sans-serif;
    font-size: 12px;
}

.active {
    background-color: #474261;
}

.navbar {
    list-style-type: none;
    width: 100%;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    background-color: #6c6594;
    position: sticky;
    border-radius: 4px;
}

.navbarList {
    float: right;
    border-right: 1px 2px solid #bbb;
    border-left: 1px solid #bbb;
}

    .navbarList a {
        display: block;
        color: white;
        text-align: center;
        padding: 20px 16px;
        text-decoration-line: none;
        font-family: 'pt_sansregular', sans-serif;
    }

        .navbarList a:hover {
            background-color: #111;
        }

.menu img {
    width: 210px;
    height: 60px;
    display: block;
    text-align: center;
}

.subtitle {
    margin-left: 200px;
    display: inline-block;
}

.titleTXT {
    font-family: ubunturegular, sans-serif;
    margin-left: 200px;
    margin-right: 200px;
}

.bodyTXT {
    font-family: ubunturegular, sans-serif;
    margin-left: 200px;
    margin-right: 200px;
    text-align: justify;
    text-justify: inter-word;
}

.dotPoints {
    font-family: ubunturegular, sans-serif;
    margin-left: 180px;
    margin-right: 300px;
    text-align: justify;
    text-justify: inter-word;
}