@font-face {
    font-family: 'rubiklight';
    src: url('../fonts/rubik-variablefont_wght-webfont.woff2') format('woff2'), 
         url('../fonts/rubik-variablefont_wght-webfont.woff') format('woff');
    font-weight: SemiBold;
    font-style: SemiBold;
}

h1 {
    font-family: 'rubiklight';
}

.pageTitle {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.coverIMG {
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body {
  background-color: #cc8df7;
}